<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.presentech.handsup">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/HandsUp">
        <activity android:name=".ModeSelectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScreenActivity"
            android:label="@string/title_activity_login_screen"
            android:parentActivityName=".ModeSelectActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".HostingWizardActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".PresentationFileListActivity"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".PresentationModeTutorial"
            android:label="@string/title_activity_presentation_mode_tutorial"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.presentech.handsup.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsAccessibilityActivity"
            android:label="@string/accessibility_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsFileStorageActivity"
            android:label="@string/file_storage_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsPresentationFeedbackActivity"
            android:label="@string/presentation_feedback_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SlideContentTimingsActivity"
            android:label="@string/slide_content_timings_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReviewFeedbackSelect"
            android:label="Review Feedback"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ReviewFeedback"
            android:label="Review Question Feedback"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ReviewFeedbackGMB"
            android:label="Review Understanding Feedback"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ReviewFeedbackMessages"
            android:label="Review Messages Feedback"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SettingsAccountActivity"
            android:label="@string/account_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsVisibilityActivity"
            android:label="Visibility"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsDefaultSettingActivity"
            android:label="@string/default_setting_title"
            android:screenOrientation="portrait" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".FeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PresentationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AudienceSessionSelect"
            android:label="@string/title_activity_audience_session_select"
            android:theme="@style/AppTheme" />
        <activity android:name=".aboutActivity" />
        <activity android:name=".AudienceTutorial" />
        <activity android:name=".ExampleStackedBars" />
        <!--<meta-data-->
            <!--android:name="io.fabric.ApiKey"-->
            <!--android:value="0cddf07189e7770b126a853ae1c73ab8a83c2615" />-->
        <activity
            android:name=".AudienceConnect"
            android:label="@string/title_activity_audience_connect"
            android:parentActivityName=".ModeSelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.presentech.handsup.ModeSelectActivity" />
        </activity>
        <activity
            android:name=".testingConnections"
            android:label="@string/title_activity_testing_connections"></activity>
        <activity android:name=".TestActivity"></activity>
    </application>

</manifest>
